<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">I'm an Undergraduate Student Researcher in the Department of Physics at IIT Bombay. I am currently investigating candidates for Dark Matter through Gravitational Lensing observations<!--pursuing a minor in the field of Geoinformatics--> and building a Star Tracker for Celestial Navigation. Although, a major part of my interest has been focussed on the study of Space Science and Technology, there is a 99% chance that you will find me anywhere from a History class to a debate on Etymology. I'm also an avid triathlete and enjoy playing the piano!</p>
                <p class="text-faded">I received the Institute's Undergraduate Research Award for conducting exemplary research in the academic year 2020-21. Apart from the ones above, my research interests also include Computational Physics, Algorithm Design, Computer Architecture and the Theory of Computation<!--Numerical Analysis, Computational Physics and Mathematical Modelling, Computer Architecture and the Theory of Computation, especially its Mathematical Foundations--></p>
                <a href="#stuff" class="btn btn-default btn-xl">What else?</a><br><br>
            <!--p style="font-size:6px" style="text-align:right;">*By space science and technology, I mean pretty much everything - from astrophysics and cosmology to spaceflight mechanics and planetary sciences and even implementation of algorithms for guidance and navigation of space probes and satellites</p-->
            </div>
        </div>
    </div>
</section>
